<ion-header-bar class="bar bar-header bar-balanced">
    <a href="#/Alarma" class="button button-icon icon ion-ios-arrow-back"></a>
    <h1 class="title">Diagnostica</h1>
</ion-header-bar>

<ion-content>

    <ul class="list-borderless">
        <div class="item item-text-wrap item-divider">Grupo B - Pacientes que pueden ser hospitalizados para una estrecha observacion y tratamiento medico</div>
        <li class="item item-text-wrap">Caso probable de dengue - Con signos de alarma</li>
    </ul>

    <ion-slide-box show-pager="false" class="card">

        <ion-slide>
            <div class="box">
                <ul class="list-borderless">
                    <div class="item item-text-wrap item-divider item-energized">Criterios de grupo</div>
                    <li class="item item-text-wrap texto-justificado">
                        Toleran adecuados volumenes de liquido oral
                    </li>
                    <li class="item item-text-wrap texto-justificado">
                        Diuresis adecuada en las ultimas 6 horas
                    </li>
                </ul>
            </div>
        </ion-slide>

        <ion-slide>
            <div class="box">
                <ul class="list-borderless">
                    <div class="item item-text-wrap item-divider item-energized">Pruebas de laboratorio</div>
                    <li class="item item-text-wrap texto-justificado">
                        Hemograma completo (Hematocrito, plaquetas y leucocitos), lgM dengue luego del dia 5 al 20%, y pruebas para confirmacion de serotipoviral al 5% de los pacientes con menor a 5 dias de sintoma
                    </li>
                </ul>
            </div>
        </ion-slide>

        <ion-slide>
            <div class="box">
                <ul class="list-borderless">
                    <div class="item item-text-wrap item-divider item-energized">Tratamiento</div>
                    <li class="item item-text-wrap texto-justificado">
                        <div class="row">
                            <div class="col">Reposo relativo en cama</div>
                        </div>
                        <div class="row">
                            <div class="col">Uso de toldillo</div>
                        </div>
                        <div class="row">
                            <div class="col">Adecuada ingesta de liquido</div>
                        </div>
                        <div class="row">
                            <div class="col">Suero oral</div>
                        </div>
                        <div class="row">
                            <div class="col">
                                Acetaminofen
                                <div class="row">
                                    <div class="col"><strong>Adultos:</strong>500 mg/dosis(DMD: 4g)</div>
                                </div>
                                <div class="row">
                                    <div class="col"><strong>Niños:</strong>10 - 15 mg/kg/dia c/6h</div>
                                </div>
                            </div>
                        </div>
                    </li>

                    <li class="item item-text-wrap texto-justificado texto-italic">
                        <strong>Pacientes con hematocrito normal pueden continuar con manejo en el hogar, con seguimiento</strong>
                    </li>
                </ul>
            </div>
        </ion-slide>

        <ion-slide>
            <div class="box">
                <ul class="list-borderless">
                    <div class="item item-text-wrap item-divider item-energized">Monitoreo estado clinico</div>
                    <li class="item item-text-wrap texto-justificado">
                        Control diario para evaluar progresion de la enfermedad:
                    </li>
                    <li class="item item-text-wrap texto-justificado">
                        <div class="row">
                            <div class="col"><strong>Disminucion de leucocitos</strong></div>
                        </div>
                        <div class="row">
                            <div class="col"><strong>Defervescencia</strong></div>
                        </div>
                        <div class="row">
                            <div class="col"><strong>Signos de alarma (Hasta que este fuera del periodo critico)</strong></div>
                        </div>
                        <div class="row">
                            <div class="col"><strong>Instruir a los pacientes y responsables a regresar urgentemente al hospital, si uno o mas de los signos de alarma se presentan</strong></div>
                        </div>
                    </li>
                </ul>
            </div>
        </ion-slide>

    </ion-slide-box>

</ion-content>