<ion-header-bar class="bar bar-header bar-balanced">
    <a href="#/Alarma" class="button button-icon icon ion-ios-arrow-back"></a>
    <h1 class="title">Diagnostica</h1>
</ion-header-bar>

<ion-content>

    <ul class="list-borderless">
        <div class="item item-text-wrap item-divider">Grupo C - Pacientes que requieren tratamiento de emergencia y cuidados intensivos.</div>
        <li class="item item-text-wrap">Caso probable Dengue grave</li>
    </ul>

    <ion-slide-box show-pager="false" class="card">

        <ion-slide>
            <div class="box">
                <ul class="list-borderless">
                    <div class="item item-text-wrap item-divider item-energized">Criterios de grupo</div>
                    <li class="item item-text-wrap texto-justificado">
                        <strong>Pacientes con uno o mas de los siguientes hallazgos:</strong>
                        <div class="row">
                            <div class="col">Importante fuga de plasma con shock</div>
                        </div>
                        <div class="row">
                            <div class="col">Acumulacion de liquidos con distress respiratorio</div>
                        </div>
                        <div class="row">
                            <div class="col">Sangrado severo</div>
                        </div>
                        <div class="row">
                            <div class="col">Daño importante de organo</div>
                        </div>
                    </li>
                </ul>
            </div>
        </ion-slide>

        <ion-slide>
            <div class="box">
                <ul class="list-borderless">
                    <div class="item item-text-wrap item-divider item-energized">Pruebas de laboratorio</div>
                    <li class="item item-text-wrap texto-justificado">
                        Hemograma completo.
                    </li>
                    <li class="item item-text-wrap texto-justificado">
                        Otras pruebas de acuerdo al organo afectado.
                    </li>
                    <li class="item item-text-wrap texto-justificado">
                        lgM dengue y pruebas para confirmacion de serotipo viral a todos los pacientes.
                    </li>
                </ul>
            </div>
        </ion-slide>

        <ion-slide>
            <div class="box">
                <ul class="list-borderless">
                    <div class="item item-text-wrap item-divider item-energized">Tratamiento</div>
                    <li class="item item-text-wrap"><strong>Manejo de shock</strong></li>
                    <li class="item item-text-wrap texto-justificado">
                        <div class="row">
                            <div class="col">Iniciar con una solucion isotonica de cristaloides IV a 5-10 ml/kg/h infundir en 1 hora, reevaluar condicion de paciente.</div>
                        </div>
                        <div class="row">
                            <div class="col"><strong>Si el paciente mejora:</strong>Disminuir gradualmente de acuerdo al estado hemodinamico. Los liquidos pueden ser requeridos por 24 a 48 horas.</div>
                        </div>
                        <div class="row">
                            <div class="col"><strong>Si el paciente continua inestable y el hematocrito aumenta:</strong>Repita un segundo bolo de critaloide de 10-20 ml/kg/h por 1 h.</div>
                        </div>
                        <div class="row">
                            <div class="col">Si mejora despues del segundo bolo, reduzca la infusion a 7-10 ml/kg/h por 1-2 h, continue reduciendo como se señalo anteriormente.</div>
                        </div>
                        <div class="row">
                            <div class="col"><strong>Si el hematocrito disminuye,</strong>Esto indica sangrado y la necesidad urgente de tomar una prueba cruzada y transfundir sangre fresca lo antes posible.</div>
                        </div>
                        <div class="row">
                            <div class="col">Si no mejora debe iniciar inotropicos por posible disfuncion miocardica.</div>
                        </div>
                    </li>
                </ul>
            </div>
        </ion-slide>

        <ion-slide>
            <div class="box">
                <ul class="list-borderless">
                    <div class="item item-text-wrap item-divider item-energized">Monitoreo estado clinico</div>

                    <li class="item item-text-wrap texto-justificado">
                        <div class="row">
                            <div class="col"><strong>Signos vitales y perfusion periferica(1-4 horas despues de finalizado la fase critica).</strong></div>
                        </div>
                        <div class="row">
                            <div class="col"><strong>Gasto urinario(4-6 horas)</strong></div>
                        </div>
                        <div class="row">
                            <div class="col"><strong>Hematocrito(Antes y despues de la reanimacion, luego cada 6-12 horas).</strong></div>
                        </div>
                        <div class="row">
                            <div class="col"><strong>Otras: en funcion de daño de organos (renal, hepatico, coagulacion intravascular diseminada).</strong></div>
                        </div>
                    </li>
                </ul>
            </div>
        </ion-slide>

    </ion-slide-box>

</ion-content>